@import "../base/base";

.dropdown{


}




.dropdown__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;

  button {
    padding: 0;
    margin-bottom: 6px;
    border: none;
    background-color: transparent;

    h3 {
      color: $purple;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
    }
  }
}

.dropdown__button_one {
  display: flex;
  justify-content: flex-end;
}