mixin count(title, value)
    .dropdown__option
        h3= title
        .dropdown__count
            input(type='button' value='-' class='sign' data-action='minus')
            h3(data-action='content')= value
            input(type='button' value='+' class='sign' data-action='plus')

.dropdown
    +item-title('dropdown')
    .dropdown__select
        input(class='dropdown__input dropdown__border item-input' type='button' value='Сколько гостей')
        .dropdown__wrapper.show
            +count('взрослые', '0')
            +count('дети', '0')
            +count('младенцы', '0')
            .dropdown__button.dropdown__button_one
                button
                    h3 применить