
.dropdown
    +item-title('date dropdown')
    .dropdown__select
        input(type='button' value='ДД.ММ.ГГГГ')
.dropdown
    +item-title('date dropdown')
    .dropdown__select
        input(type='button' value='19.08.2019')

