
//-
  options.title - заголовок элемента
  options.type - input type
  options.value - input value

mixin dropdown(options)
    if !options
        - options = {}

    -
        let classes = '';
        classes += options.size ? ' input_size_'+options.size : ''

    .dropdown
        label.title
            h3= options.title
        .input__wrapper(class=classes)
            input.input__element(
                type = options.type
                value = options.value
            )
//-
    .dropdown
        +item-title('dropdown')
        .dropdown__select
            input(class='dropdown__input item-input' type='button' value='Сколько гостей')
