mixin count(title)
    .dropdown__option
        h3= title
        .dropdown__count
            input(type='button' value='-' class='sign' data-action='minus')
            h3(data-action='content') 0
            input(type='button' value='+' class='sign' data-action='plus')

.dropdown
    +item-title('dropdown')
    .dropdown__select
        input(type='button' value='Сколько гостей')

