@import "../base/base";

.pagination {
  ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  p{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }
}

.pagination__button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  a{
    text-decoration: none;
    font-size: 12px;
    color: $dark-shade-50;
  }
}

.pagination__button_active{
  border-radius: 22px;
  background: $gradient-purple;
  font-weight: 700;
  a{
    color: #ffffff;
  }
}

.pagination__button_next,
.pagination__button_prev{
  border-radius: 22px;
  background: $gradient-green;
  position: relative;

  &:after {
    position: absolute;
    content: "\e900";
    display: block;
    font-family: 'icomoon';
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 24px;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.pagination__button_prev{
  &:after{
    transform: rotate(0.5turn) translate(-50%, 50%);
  }
}

