-
    locals.paginationItems = [
        {
            value: 1,
            classes: 'active'
        }, {
            value: 2
        }, {
            value: 3
        }, {
            value: '...'
        }, {
            value: 15
        }, {
            classes: 'next'
        }
    ]