//-

  options.number - количество страниц
  options.classes - button class (определяет вид кнопки)
  options.arrow - стрелка на кнопке
  options.active - номер активной страницы

  options.items - массив с элементами меню
  options.items[0].name - имя элемента меню
  options.items[0].href - ссылка элемента меню


mixin page(options)
    if !options
        - options = {}

    if !options.items
        - options.items = []

    .pagination
        ul
            each item in options.items
                li(class='pagination__button pagination__button_'+item.classes)
                    a(href='#')= item.value

        p 1 – 12 из 100+ вариантов аренды