@import "../base/base";

.title {
  text-transform: uppercase;

  h3 {
    margin: 0;
  }
}

.input {
  position: relative;
  display: flex;
  align-items: stretch;

  &__wrapper{
    width: 100%;
  }

  &__element {
    padding: 12px 14px;
    border: $dark-shade-25 solid 1px;
    border-radius: 4px;
    line-height: 18px;
    font-size: 14px;
    width: 100%;
    margin-top: 5px;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:hover, &:focus {
      border-color: $dark-shade-50;
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__arrow {
    position: relative;

    &:after {
      position: absolute;
      content: "\e900";
      display: block;
      font-family: 'icomoon';
      top: 15px;
      right: 10px;
      z-index: 1;
      font-size: 24px;
      background: $gradient-purple;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
