@import "../base/base";

.input {
  position: relative;

  &__wrapper {
    width: 100%;
  }

  &__element {
    padding: 12px 14px;
    border: $dark-shade-25 solid 1px;
    border-radius: 4px;
    line-height: 18px;
    font-size: 14px;
    width: 100%;

    background: transparent;
    text-align: left;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:hover, &:focus {
      border-color: $dark-shade-50;
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__arrow_right,
  &__arrow_bottom {
    position: relative;

    &:after {
      position: absolute;
      font-family: 'icomoon';
      top: 10px;
      right: 10px;
      font-size: 24px;
    }
  }

  &__arrow_right {
    &:after {
      content: "\e900";
      z-index: 1;
      background: $gradient-purple;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__arrow_bottom {
    &:after {
      content: "\e901";
      z-index: 1;
    }
  }
}

.checkbox {
  padding-left: 30px;
  margin-top: 10px;

  .input__element {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + span {
      display: block;
      position: relative;
      user-select: none;
      color: $dark-shade-50;
      line-height: 20px;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: -30px;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid $dark-shade-25;
        border-radius: 4px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        box-sizing: inherit;
      }

      h3{
        margin: 0;
        color: $dark-shade-75;
        line-height: 20px;
        font-size: 14px;
      }
      p{
        margin: 0;
        padding-top: 5px;
        font-size: 12px;
        line-height: 14px;
        white-space: pre-wrap;
      }
    }

    &:checked + span:before {
      background-image: url('img/check.svg');
      background-position: 50% 40%;
      border-color: $purple;
    }
  }
}

.checkbox-list {
  position: relative;

  &:before {
    position: absolute;
    content: "\e901";
    font-family: 'icomoon';
    top: 10px;
    right: 10px;
    z-index: -1;
    font-size: 24px;
  }

  &__input {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: transparent;
    text-align: left;
    border: none;
  }

  &__show {
    &:before {
      position: absolute;
      content: "\e901";
      font-family: 'icomoon';
      top: 10px;
      right: 10px;
      z-index: -1;
      font-size: 24px;
      transform: rotate(0.5turn);
    }
  }

  &__wrapper {
    display: none;
    padding-top: 4px;
    &:nth-child(1){
      margin-top: 0;
    }
  }
}

.radiobutton {
  padding-left: 30px;
  padding-bottom: 4px;

  .input__element {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: auto;

    & + span {
      display: block;
      position: relative;
      user-select: none;
      color: $dark-shade-50;
      line-height: 20px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        width: 18px;
        height: 18px;
        border: 1px solid $dark-shade-25;
        border-radius: 50%;
      }

      &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: -26px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $gradient-purple;
        opacity: 0;
        transition: .2s;
      }
    }

    &:checked + span {
      color: $dark-shade-75;

      &:after {
        opacity: 1;
      }

      &:before {
        border: 1px solid $purple;
      }
    }
  }
}

.toggle {
  position: relative;
  display: flex;
  height: 24px;
  margin-top: 10px;

  .input__element {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + span {
      display: block;
      position: relative;
      padding: 0 0 4px 50px;
      user-select: none;
      line-height: 20px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 20px;
        border: 1px solid $dark-shade-25;
        border-radius: 13px;
        box-sizing: inherit;
        transition: .2s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: $dark-shade-25;
        transition: .2s;
      }
    }

    &:checked + span {
      &:before {
        border: 1px solid $purple;
      }

      &:after {
        left: 24px;
        background: $gradient-purple;
      }
    }
  }
}

.like-button {
  width: auto;
  min-width: 40px;
  display: inline-block;
  position: relative;
  height: 20px;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;

  &:after {
    position: absolute;
    content: '\e905';
    font-family: 'icomoon';
    top: -1px;
    left: 4px;
    z-index: -1;
    font-size: 10px;
    line-height: 20px;
    color: $dark-shade-25;
  }

  .input__element {
    width: auto;
    margin-top: 0;
    display: block;
    line-height: 14px;
    background-color: transparent;
    text-align: center;
    padding: 3px 10px 4px 20px;
    font-size: 10px;
    color: $dark-shade-25;
    border: none;
  }

  &__enable {
    border: 1px solid $purple;

    &:after {
      content: '\e904';
      background: linear-gradient(to bottom, #bc9cff, #8BA4F9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .input__element {
      color: $purple;
    }
  }
}

.dropdown {

  &__wrapper {
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 100%;
    margin-top: -1px;
    display: none;
    border: $dark-shade-50 solid 1px;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 7px;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;

    h3 {
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__input {
    z-index: 1;
    &:hover, &:focus {
      border-color: $dark-shade-50;
    }
  }

  &__count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    max-width: 92px;
    width: 100%;
    text-align: center;
  }

  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    border: $dark-shade-25 solid 1px;
    border-radius: 15px;
    background-color: transparent;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: $dark-shade-75;
  }

  .sign_disable {
    opacity: 0.38;
  }

  &__border {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: $dark-shade-50;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 6px;

    h3 {
      text-transform: uppercase;
      margin: 0;
      color: $purple;
    }
  }
}