-
    locals.checkboxListItems = [
        {
            type: 'checkbox',
            classes: 'checkbox',
            label: 'Завтрак'
        }, {
            type: 'checkbox',
            classes: 'checkbox',
            label: 'Письменный стол',
            checked: true
        }, {
            type: 'checkbox',
            classes: 'checkbox',
            label: 'Стул для кормления',
            checked: true
        }, {
            type: 'checkbox',
            classes: 'checkbox',
            label: 'Кроватка',
            checked: true
        }, {
            type: 'checkbox',
            classes: 'checkbox',
            label: 'Телевизор'
        }, {
            type: 'checkbox',
            classes: 'checkbox',
            label: 'Шампунь'
        }
    ]