-
    locals.dropdownItems = [
        {
            value: 'спальни',
            number: 2
        }, {
            value: 'кровати',
            number: 2
        }, {
            value: 'ванные комнаты',
            number: 0
        }
    ]