-
    locals.dropdownItems = [
        {
            value: 'взрослые',
            number: 0
        }, {
            value: 'дети',
            number: 0
        }, {
            value: 'младенцы',
            number: 0
        }
    ]