//-

  options.classes - строка с классами
  options.arrow - вид стрелки
  options.type - input type
  options.placeholder - input placeholder
  options.value - input value
  options.label - подпись к checkbox и radio
  options.name - input name (связь radio)
  options.status - статус like кнопки

  options.title - заголовок элемента
  options.pattern - input pattern
  options.tabindex - input tabindex
  options.required - input required


mixin input(options)
    if !options
        - options = {}

    -
        let classes = '';
        classes += options.classes ? options.classes : ''
        classes += options.arrow ? ' input__'+options.arrow : ''
        if (options.status === 'like')
            classes += ' like-button__enable'

    .input
        .input__wrapper(class=classes)
            - if (options.type === 'text' || options.type === 'email' || options.type === 'password')
                input.input__element(
                    type = options.type
                    placeholder = options.placeholder
                    value = options.value
                )

            - if (options.type === 'button')
                input.input__element(
                    type = options.type
                    placeholder = options.placeholder
                    value = options.value
                    data-action = options.status
                )

            - if (options.type === 'checkbox' || options.type === 'radio')
                 label.input__label.select
                     input.input__element(
                        type = options.type
                        name = options.name
                        checked=options.checked
                     )
                     span=options.label
                 //-
                    if options.type === 'checkbox'
                        +toggle({mix: 'input__toggle'})
                    else
                        +tick-box({mix: 'input__tick-box'})
                    if options.label
                         .input__label-text=options.label
                             block
                    else
                         block

