//-

  options.value - button value
  options.classes - button class (определяет вид кнопки)
  options.arrow - стрелка на кнопке


mixin button(options)
    if !options
        - options = {}

    -
        let wrapper__class = '';
        wrapper__class += options.arrow ? ' btn__'+options.arrow : ''

        if (options.classes === 'background' || options.classes === 'border'){
            wrapper__class += ' btn_background'
            wrapper__class += options.disable ? ' btn_disable' : ''
        }

        if (options.classes === 'border')
            wrapper__class += ' btn_border'

        if (options.classes === 'link')
            wrapper__class += ' btn_link'


    div(class=wrapper__class)
        button(class = 'btn_default', disabled = options.disable)
            h3= options.value


