//-

  options.value - button value
  options.class - button class (определяет вид кнопки: background/border/link)
  options.arrow - стрелка на кнопке
  options.type - кнопка или ссылка


mixin button(options)
    if !options
        - options = {}

    -
        let wrapper__class = '';
        wrapper__class += options.arrow ? ' btn__'+options.arrow : ''

        if (options.class === 'background' || options.class === 'border'){
            wrapper__class += ' btn_background'
            wrapper__class += options.disable ? ' btn_disable' : ''
        }

        if (options.class === 'border')
            wrapper__class += ' btn_border'

        if (options.class === 'link')
            wrapper__class += ' btn_link'


    .btn(class=wrapper__class)
        button(class = 'btn_default', disabled = options.disable)
            h3= options.value


