@import "../../../node_modules/normalize.css";
@import "../../components/base/base";

.menu {
  nav {
    display: flex;
    align-items: center;
    height: 100%;

    & > ul {
      margin: 0;
      padding: 0;
      display: flex;
    }
  }

  &__element {
    list-style-type: none;
    height: 100%;
    padding: 0 10px;

    a {
      text-decoration: none;
      color: $dark-shade-50;
    }
  }

  &__dropdown {
    position: relative;

    &-arrow {
      position: relative;
      padding-right: 24px;

      &:after {
        position: absolute;
        content: "\e901";
        z-index: 1;
        font-family: 'icomoon';
        top: -3px;
        right: 0px;
        font-size: 24px;
        color: $dark-shade-50;
      }
    }

    &-block {
      display: none;
      position: absolute;
      top: 50px;
      right: 10px;
      padding: 5px 0;
      background: #fff;
      box-shadow: 0px 10px 10px 0px rgba(31, 32, 65, 0.1);
      border-radius: 4px;
      min-width: 200px;

      li {
        list-style-type: none;
        display: block;
        padding: 10px 20px;
      }
    }
  }
}

@media (max-width: 991px) {

  .menu {
    display: none;

    &__burger {
      position: relative;

      span {
        position: absolute;
        top: 15px;
        right: 0;
        width: 40px;
        height: 40px;
        z-index: 1;

        &:before {
          position: absolute;
          content: "\e908";
          display: block;
          font-family: 'icomoon';
          font-size: 40px;
          line-height: 40px;
          color: $dark-shade-50;
        }
      }

      &-block{
        position: absolute;
        width: 100%;
        top: 75px;
        right: 0px;
        padding: 5px 0;
        background: #fff;
        box-shadow: 0px 10px 10px 0px rgba(31, 32, 65, 0.1);
        border-radius: 4px;

        nav{
          justify-content: center;
        }

        li {
          list-style-type: none;
          display: block;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  nav ul{
    flex-direction: column;
  }
  .menu__element{
    text-align: center;
  }

  .menu__dropdown-arrow{
    padding: 0;

    &:after{
      right: -24px;
    }
  }
}