@import "../../components/base/base";

.container {
  &_vertical {
    padding: 140px 0;
  }

  &_horizontal {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.wrapper{
  header{
    margin-bottom: 40px;
  }
}

@media (max-width: 1199px) {
  .container_horizontal {
    padding-left: 40px;
    padding-right: 40px;
  }
}
