extends ../../components/base/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/elementTitle/elementTitle
include ../../components/input/input


block content
    section
        +header()

    section
        main.enter
            img.enter__background(src=require('../../assets/images/enter-background.png').default)
            form.registrarion__form
                .card
                    .card__element
                        h1 Войти
                    .card__element
                        +input({
                            type: 'email',
                            placeholder: 'Email'
                        })
                        +input({
                            type: 'password',
                            placeholder: 'Пароль'
                        })
                    .card__element
                        .card__button
                            +button({
                                value: 'войти',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })
                    .card__element.card__footer
                        span Нет аккаунта на Toxin?
                        .card__footer-button.card__button
                            +button({
                                value: 'создать',
                                classes: 'border'
                            })

    section
        +footer()