@import "~normalize.css";
@import "fonts.scss";
@import "material-icons.css";
@import "colors.scss";

$bold: 700;
$regular: 400;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-weight: $regular;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}

%bold {
  color: $dark-shade;
  font-weight: $bold;
  line-height: normal;
}

h1 {
  font-size: 24px;
  @extend %bold;
}

h2 {
  font-size: 19px;
  @extend %bold;
}

h3 {
  font-size: 12px;
  @extend %bold;
}

.container {
  padding: 40px;
}

%input-item {
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 20px;

  label {
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }

  input {
    width: 100%;
    padding: 12px 14px;
    border: $dark-shade-25 solid 1px;
    border-radius: 4px;
    line-height: 18px;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:hover, &:focus {
      border-color: $dark-shade-50;
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }
}

.item_size_s {
  max-width: 266px;
}

.text-field {
  @extend %input-item;
}

.dropdown {
  @extend %input-item;

  .dropdown_column {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin-right: -4px;
  }

  .dropdown_column + .dropdown_column {
    margin-left: 20px;
  }

  input {
    background-color: transparent;
    text-align: left;

    &:focus {
      border-color: $dark-shade-25;
    }
  }

  .dropdown__select {
    position: relative;

    input {
      text-overflow: ellipsis;
    }

    &:before {
      position: absolute;
      content: "\e901";
      font-family: 'icomoon';
      top: 10px;
      right: 10px;
      z-index: -1;
      font-size: 24px;
    }

    .dropdown__counter {
      margin-top: -1px;
      display: none;
      border: $dark-shade-25 solid 1px;
      border-top: none;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      line-height: 18px;
      margin: 0;

      .dropdown__option {
        display: flex;
        justify-content: space-between;

        & > h3 {
          margin-left: 15px;
          text-transform: uppercase;
        }

        .dropdown__count {
          display: flex;
          justify-content: space-between;
          position: relative;
          margin: 7px;
          max-width: 92px;
          width: 100%;
          text-align: center;

          h3 {
            margin: 0;
            line-height: 30px;
          }

          // button "+" and "-"
          input {
            border: $dark-shade-25 solid 1px;
            border-radius: 15px;
            background-color: transparent;
            max-width: 30px;
            max-height: 30px;
            width: 100%;
            height: 100%;
            font-size: 18px;
            padding-top: 5px;
            padding-left: 10px;
            font-family: 'Montserrat';
            font-weight: $regular;
            font-size: 18px;
            color: $dark-shade-75;
          }

          #buttonCountPlus {
            padding-left: 9px;
          }
        }
      }
    }
  }
}

.show {
  display: block !important;
}

.dropdown__border {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.subscription {
  @extend %input-item;

  .subscription__input {

    position: relative;
    margin-top: 5px;

    input {
      padding-right: 44px;
      margin-top: 0;
    }

    &:after {
      position: absolute;
      content: "\e900";
      display: block;
      font-family: 'icomoon';
      top: 10px;
      right: 10px;
      z-index: 1;
      font-size: 24px;
      background: $gradient-purple;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.checkbox {
  @extend %input-item;
  max-width: 225px;
  width: 100%;

  .checkbox__content {
    margin-top: 16px;
    position: relative;

    .checkbox__item + .checkbox__item {
      margin-top: 12px;
    }

    .checkbox__item {

      .checkbox__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      .checkbox__input + label {
        display: block;
        position: relative;
        user-select: none;
        color: $dark-shade-50;
        line-height: 19px;
        padding-left: 30px;
        word-wrap: break-word;
        margin-top: 0;

        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 1px solid $dark-shade-25;
          border-radius: 4px;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center center;
          box-sizing: inherit;
        }
      }

      .checkbox__input:checked + label:before {
        background-image: url('../img/check.svg');
        background-position: 45% 40%;
        border-color: $purple;
      }
    }
  }
}

.radiobuttons {
  @extend %input-item;
  position: relative;

  .radiobuttons__content {
    display: flex;
    margin-top: 16px;

    .radiobuttons__item + .radiobuttons__item {
      margin-left: 20px;
    }

    .radiobuttons__item {
      .radiobuttons__input {
        position: absolute;
        z-index: -1;
        width: auto;
        opacity: 0;

        & + label {
          position: relative;
          padding-left: 30px;
          user-select: none;

          &:before {
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid $dark-shade-25;
            border-radius: 50%;
            //background: #FFF;
          }

          &:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $gradient-purple;
            opacity: 0;
            transition: .2s;
          }
        }
      }

      .radiobuttons__input:checked + label {
        &:after {
          opacity: 1;
        }

        &:before {
          border: 1px solid $purple;
        }
      }
    }
  }
}

.toggle {
  @extend %input-item;
  position: relative;
  max-width: 260px;

  .toggle__content {
    width: 100%;
    margin-top: 15px;

    .toggle__item + .toggle__item {
      margin-top: 10px;
    }

    .toggle__item {
      .toggle__input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        & + label {
          display: block;
          position: relative;
          padding: 0 0 4px 50px;
          user-select: none;
          line-height: 20px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 20px;
            border: 1px solid $dark-shade-25;
            border-radius: 13px;
            box-sizing: inherit;
            transition: .2s;
          }

          &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background: $dark-shade-25;
            transition: .2s;
          }
        }

        &:checked + label {
          &:before {
            border: 1px solid $purple;
          }

          &:after {
            left: 24px;
            background: $gradient-purple;
          }
        }
      }
    }
  }
}

.like-button {
  @extend %input-item;

  .like-button__content {
    margin-top: 16px;
    line-height: 14px;

    .like-button__item + .like-button__item {
      margin-left: 6px;
    }

    .like-button__item {
      display: inline-block;
      position: relative;
      box-sizing: inherit;
      width: 40px;
      height: 20px;
      border: 1px solid $dark-shade-25;
      border-radius: 10px;

      &:after {
        position: absolute;
        content: '\e905';
        font-family: 'icomoon';
        top: -1px;
        left: 4px;
        z-index: -1;
        font-size: 10px;
        line-height: 20px;
        color: $dark-shade-25;
      }

      .like-button__input {
        display: block;
        background-color: transparent;
        margin-top: 0px;
        text-align: center;
        padding: 0px 10px 0 20px;
        font-size: 10px;
        color: $dark-shade-25;
        border: none;
      }
    }

    .like-button__item_enable {
      border: 1px solid $purple;

      &:after {
        content: '\e904';
        background: linear-gradient(to bottom, #bc9cff, #8BA4F9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .like-button__input {
        color: $purple;
      }
    }
  }
}

.rate-button {
  @extend %input-item;

  .rate-button__content {
    position: relative;
    margin-top: 16px;
    font-size: 24px;
    max-height: 24px;
    height: 100%;
    width: 120px;
    font-family: 'icomoon' !important;

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    .rate-button__input {
      position: absolute;
      z-index: -1;
      width: auto;
      opacity: 0;
      margin: 0;
    }

    .rate-button__label {
      float: right;
    }

    .rate-button__label:before {
      content: "\e903";
      color: $purple;
    }

    .rate-button__input:checked ~ .rate-button__label:before {
      content: "\e902";
      background: $gradient-purple;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .rate-button__label:active {
      position: relative;
    }

  }
}

.range-slider {
  @extend %input-item;
  max-width: 266px;

  .range-slider__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .range-slider__amount {
      max-width: 170px;
      text-align: right;
      border: 0;
      padding: 0;
      color: $dark-shade-50;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;
    border-radius: 3px;
    height: 6px;
    border: 1px solid $dark-shade-25;
  }

  .ui-slider-range {
    top: -1px;
    height: 6px;
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: $gradient-green;
    border-radius: 3px;
  }

  .ui-slider-handle {
    border: 2px solid #fff;
    background: $gradient-green;
    border-radius: 8px;
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    -ms-touch-action: none;
    touch-action: none;
    top: -6px;
    margin-left: -.6em;
  }

  .ui-state-hover,
  .ui-state-focus,
  .ui-state-active {
    outline: none;
  }
}

.buttons-block {
  @extend %input-item;

  .buttons-block__content {
    margin-top: 16px;
    & > div {
      display: flex;
    }
  }
  .buttons-block__buttons + .buttons-block__buttons{
    margin-top: 30px;
  }

  .buttons-block__button {
    height: 44px;
    max-width: 99px;
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    background: $gradient-purple;
    border-radius: 22px;
    border-color: transparent;

    button{
      height: 40px;
      border-color: transparent;
      border-radius: 22px;
      width: 100%;
      z-index: 1;

      h3 {
        margin: 0;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
    }

    h3 {
      text-transform: uppercase;
    }

    .buttons-block__button_background {
      background: transparent;
      h3 {
        color: #ffffff;
      }
    }

    .buttons-block__button_border {
      background: white;
      h3 {
        color: $purple;
      }
    }
  }

  .buttons-block__button + .buttons-block__button,
  .buttons-block__button_link + .buttons-block__button_link{
    margin-left: 20px;
  }

  .buttons-block__button_link{
    text-decoration: none;
    line-height: 15px;

    button{
      border: none;
      outline: none;
      padding: 0;
      background: none;
    }

    button[disabled]{
      h3{
        color: $dark-shade-50;
      }
    }

    h3 {
      text-transform: uppercase;
      color: $purple;
      margin: 0;
    }
  }
}

.button-disable{
  background: $gradient-purple-50 !important;
}