@import "~normalize.css";
@import "fonts.scss";
@import "font-arrow.css";
@import "colors.scss";

$bold: 700;
$regular: 400;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-weight: $regular;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}

%bold {
  color: $dark-shade;
  font-weight: $bold;
}

h1 {
  font-size: 24px;
  @extend %bold;
}

h2 {
  font-size: 19px;
  @extend %bold;
}

h3 {
  font-size: 12px;
  @extend %bold;
}

.container {
  padding: 40px;
}

%input-item {
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 20px;
  label {
    h3 {
      margin: 0;
      text-transform: uppercase;
    }
  }
  input {
    @extend %item;
  }
}
%item{
  width: 100%;
  padding: 12px 14px;
  border: $dark-shade-25 solid 1px;
  border-radius: 4px;
  line-height: 18px;
  &::placeholder {
    color: $dark-shade-25;
  }
  &:hover, &:focus {
    border-color: $dark-shade-50;
    outline: none;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
.item_size_xs{
  max-width: 150px;
  display: inline-block;
  margin: 0;
}
.item_size_s{
  max-width: 266px;
}

.text-field {
  @extend %input-item;
}

.dropdown {
  @extend %input-item;
  .dropdown__select{
    position: relative;
    &:after{
      position: absolute;
      content: "\e901";
      display: block;
      font-family: 'icomoon';
      top: 10px;
      right: 10px;
      z-index: 1;
      font-size: 24px;
    }
    select {
      background: none;
      appearance: none;
      @extend %item;
      option {

      }
    }
  }
}
.date-column{
  @extend %input-item;
  display: flex;
  justify-content: space-between;
}


.text-field-subscription__input{
    position: relative;
    &:after{
      position: absolute;
      content: "\e900";
      display: block;
      font-family: 'icomoon';
      top: 10px;
      right: 10px;
      z-index: 1;
      font-size: 24px;
      background: $gradient-purple;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}