//-
  options.img - пиктограмма
  options.title - Заглавие
  options.text - пояснение


mixin comfort(options)
    if !options
        - options = {}

    .comfort__element
        div(class=`comfort__img_${options.img}`)
        .comfort__description
            h3= options.title
            label= options.text
        hr


