//-
  options.name - имя автора
  options.date - дата поста
  options.img - src фото
  options.like - количество лайков
  options.like_status - like enable/disable
  options.text - текст комментария

include ../input/input

mixin comment(options)
    if !options
        - options = {}

    .comment
        .comment__img
            img(src=require('../../assets/images/'+options.img).default)
        .comment__title
            .comment__name= options.name
            .comment__date= options.date
        .comment__like
            +input({
                type: 'button',
                classes: 'like-button',
                button_type: 'like',
                value: options.like,
                like: options.like_status
            })
        .comment__text
            p= options.text
