extends ../../components/base/base

include ../../components/elementTitle/elementTitle
include ../../components/input/input
include ../../components/rateButton/rateButton
include ../../components/rangeSlider/rangeSlider
include ../../components/button/button
include ../../components/pagination/pagination



block content
    .container
        section
            form.form
                .form__column

                    .form__element
                        +title({
                            title: 'text field'
                        })
                        +input({
                            type: 'email',
                            placeholder: 'Email'
                        })

                    .form__element
                        +title({
                            title: 'text field'
                        })
                        +input({
                            type: 'text',
                            value: 'This is pretty awesome'
                        })

                    .form__element
                        +title({
                            title: 'dropdown'
                        })
                        +input({
                            type: 'button',
                            value: 'Сколько гостей',
                            arrow: 'arrow_bottom',
                            button: 'dropdown',
                            classes: 'dropdown'
                        })

                    .form__element
                        +title({
                            title: 'masked text field'
                        })
                        +input({
                            type: 'text',
                            placeholder: 'ДД.ММ.ГГГГ'
                        })

                    .form__element.wrapper__column
                        .column__dropdown
                            +title({
                                title: 'dropdown'
                            })
                            +input({
                                type: 'button',
                                value: 'ДД.ММ.ГГГГ',
                                button: 'dropdown',
                                arrow: 'arrow_bottom'
                            })
                        .column__dropdown
                            +title({
                                title: 'dropdown'
                            })
                            +input({
                                type: 'button',
                                value: '19.08.2019',
                                button: 'dropdown',
                                arrow: 'arrow_bottom'
                            })

                    .form__element
                        +title({
                            title: 'filter date dropdown'
                        })
                        .wrapper_small
                            +input({
                                type: 'button',
                                value: '19 авг - 23 авг',
                                arrow: 'arrow_bottom'
                            })

                    .form__element
                        +title({
                            title: 'subscription text field'
                        })
                        .wrapper_small
                            +input({
                                type: 'email',
                                placeholder: 'Email',
                                arrow: 'arrow_right'
                            })

                .form__column
                    .form__element
                        +title({
                            title: 'checkbox buttons'
                        })
                        .wrapper
                            +input({
                                type: 'checkbox',
                                classes: 'checkbox',
                                label: 'Можно курить'
                            })
                            +input({
                                type: 'checkbox',
                                classes: 'checkbox',
                                label: 'Можно с питомцами',
                                checked: true
                            })
                            +input({
                                type: 'checkbox',
                                classes: 'checkbox',
                                label: 'Можно пригласить гостей (до 10 человек)',
                                checked: true
                            })


                    .form__element
                        +title({
                            title: 'radio buttons'
                        })
                        .wrapper.wrapper__radiobutton
                            +input({
                                type: 'radio',
                                classes: 'radiobutton',
                                name: 'radio',
                                label: 'Мужчина',
                                checked: true
                            })
                            +input({
                                type: 'radio',
                                classes: 'radiobutton',
                                name: 'radio',
                                label: 'Женщина'
                            })

                    .form__element
                        +title({
                            title: 'toggle'
                        })
                        .wrapper
                            +input({
                                type: 'checkbox',
                                classes: 'toggle',
                                label: 'Получать спецпредложения',
                                checked: true
                            })
                            +input({
                                type: 'checkbox',
                                classes: 'toggle',
                                label: 'Получать спецпредложения',
                            })

                    .form__element
                        +title({
                            title: 'like button'
                        })
                        .wrapper.wrapper__like-button
                            +input({
                                type: 'button',
                                classes: 'like-button',
                                button: 'like',
                                value: '2'
                            })
                            +input({
                                type: 'button',
                                classes: 'like-button',
                                button: 'like',
                                value: '12',
                                like: 'like'
                            })
                    .form__element
                        +title({
                            title: 'rate button'
                        })
                        .wrapper.wrapper__rate-button
                            +rate({
                                id: 'rate-button_left',
                                checked: 4
                            })
                            +rate({
                                id: 'rate-button_right',
                                checked: 5
                            })

                .form__column
                    .form__element
                        .wrapper.wrapper_small
                            +range-slider({
                                title: 'range slider'
                            })
                    .form__element
                        +title({
                            title: 'buttons'
                        })
                        .wrapper
                            .wrapper__button
                                +button({
                                    value: 'click me',
                                    classes: 'background'
                                })
                                +button({
                                    value: 'click me',
                                    classes: 'background',
                                    disable: true
                                })
                                +button({
                                    value: 'click me',
                                    classes: 'border'
                                })
                                +button({
                                    value: 'click me',
                                    classes: 'border',
                                    disable: true
                                })
                            .wrapper__button_link
                                +button({
                                    value: 'click me',
                                    classes: 'link'
                                })
                                +button({
                                    value: 'click me',
                                    classes: 'link',
                                    disable: true
                                })
                            +button({
                                value: 'перейти к оплате',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })

                    .form__element
                        +title({
                            title: 'pagination'
                        })
                        .wrapper.wrapper__pagination
                            include ../../components/pagination/pagination-data
                            +page({
                                items: locals.paginationItems
                            })

        section
            form.form
                .form__column
                    .form__element
                        +title({
                            title: 'dropdown'
                        })
                        .wrapper_small
                            include ../../components/input/dropdown-data
                            +input({
                                type: 'button',
                                value: '19 авг - 23 авг',
                                arrow: 'arrow_bottom',
                                classes: 'dropdown',
                                button: 'dropdown'
                            })

                    .form__element
                        +title({
                            title: 'dropdown'
                        })
                        .wrapper_small
                            include ../../components/input/dropdown-data
                            +input({
                                type: 'button',
                                value: '19 авг - 23 авг',
                                arrow: 'arrow_bottom',
                                classes: 'dropdown',
                                button: 'dropdown',
                                show: 'show',
                                items: locals.dropdownItems
                            })

                    .form__element
                        .wrapper_small
                            +input({
                                type: 'button',
                                value: 'expandable checkbox list',
                                classes: 'checkbox-list',
                                button: 'checkbox'
                            })

                    .form__element
                        .wrapper_small
                            include ../../components/input/checkbox-list-data
                            +input({
                                type: 'button',
                                value: 'expandable checkbox list',
                                classes: 'checkbox-list',
                                button: 'checkbox',
                                show: 'show',
                                items: locals.checkboxListItems
                            })

                .form__column


                .form__column

