extends ../../components/base/base

include ../../components/elementTitle/elementTitle
include ../../components/input/input
include ../../components/rateButton/rateButton
include ../../components/button/button


block content
    .container.container__background
        section
            form.form
                .form__column
                    .card
                        .card__element
                            h1 Найдём номера под ваши пожелания
                        .card__element.wrapper__column
                            .column__dropdown
                                +title({
                                    title: 'прибытие'
                                })
                                +input({
                                    type: 'button',
                                    value: 'ДД.ММ.ГГГГ',
                                    button_type: 'dropdown',
                                    arrow: 'arrow_bottom'
                                })
                            .column__dropdown
                                +title({
                                    title: 'выезд'
                                })
                                +input({
                                    type: 'button',
                                    value: 'ДД.ММ.ГГГГ',
                                    button_type: 'dropdown',
                                    arrow: 'arrow_bottom'
                                })
                        .card__element
                            +title({
                                title: 'гости'
                            })
                            div
                                include ../../components/input/dropdown-guests-data
                                +input({
                                    type: 'button',
                                    value: 'Сколько гостей',
                                    arrow: 'arrow_bottom',
                                    classes: 'dropdown',
                                    button_type: 'dropdown',
                                    button_apply: true,
                                    button_clear: true,
                                    counts: 'guestsNumbers',
                                    items: [{
                                        value: 'взрослые',
                                        number: 0
                                    }, {
                                        value: 'дети',
                                        number: 0
                                    }, {
                                        value: 'младенцы',
                                        number: 0
                                    }]
                                })
                        .card__element.card__button
                            +button({
                                value: 'подобрать номер',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })


                    .card
                        .card__element
                            h1 Регистрация аккаунта
                        .card__element
                            +input({
                                type: 'text',
                                placeholder: 'Имя'
                            })
                            +input({
                                type: 'text',
                                placeholder: 'Фамилия'
                            })
                            .wrapper__radiobutton
                                +input({
                                    type: 'radio',
                                    classes: 'radiobutton',
                                    name: 'radio',
                                    label: 'Мужчина',
                                    checked: true
                                })
                                +input({
                                    type: 'radio',
                                    classes: 'radiobutton',
                                    name: 'radio',
                                    label: 'Женщина'
                                })
                        .card__element
                            +title({
                                title: 'Дата рождения'
                            })
                            +input({
                                type: 'text',
                                placeholder: 'ДД.ММ.ГГГГ'
                            })
                        .card__element
                            +title({
                                title: 'данные для входа в сервис'
                            })
                            +input({
                                type: 'email',
                                placeholder: 'Email'
                            })
                            +input({
                                type: 'password',
                                placeholder: 'Пароль'
                            })
                            +input({
                                type: 'checkbox',
                                classes: 'toggle',
                                label: 'Получать спецпредложения'
                            })
                        .card__element
                            +button({
                                value: 'перейти к оплате',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })
