extends ../../components/base/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/elementTitle/elementTitle
include ../../components/input/input
include ../../components/calendar/calendar


block content
    section
        +header()

    section
        main.landing.container_horizontal

            form.landing__form
                .card
                    .card__element
                        h1 Найдём номера под ваши пожелания
                    .card__element
                        +calendar()
                    .card__element
                        +title({
                            title: 'гости'
                        })
                        div
                            include ../../components/input/dropdown-guests-data
                            +input({
                                type: 'button',
                                value: 'Сколько гостей',
                                arrow: 'arrow_bottom',
                                classes: 'dropdown',
                                button_type: 'dropdown',
                                button_apply: true,
                                button_clear: true,
                                counts: 'guestsNumbers',
                                items: [{
                                    value: 'взрослые',
                                    number: 0
                                }, {
                                    value: 'дети',
                                    number: 0
                                }, {
                                    value: 'младенцы',
                                    number: 0
                                }]
                            })
                    .card__element.card__button
                        +button({
                            value: 'подобрать номер',
                            classes: 'background',
                            arrow: 'arrow_right'
                        })
            .landing__text
                p= 'Лучшие номера для вашей работы, отдыха и просто вдохновения'
    section
        +footer()

