@import "../../../node_modules/normalize.css";
@import "../../components/base/base";
@import "../../components/components";

.container {
  padding: 40px;
  max-width: 1440px;
  min-width: 1040px;
}

.item_size_s {
  max-width: 266px;
}

.form{
  display: flex;
  justify-content: space-between;
}

.form__column {
  max-width: 320px;
  width: 100%;
  &>div + div{
    margin-top: 20px;
  }
}

.form-column_extended{
  max-width: 712px;
}

section + section{
  margin-top: 100px;
}

.date-column__dropdown{
  display: flex;
  justify-content: space-between;
  &>div + div{
    margin-left: 20px;
  }
}

.date-column__dropdown,
.filter-date__dropdown,
.subscription__text-field {
  padding-top: 20px;
}

.dropdown_expanded{
  margin-bottom: 40px;
  .dropdown + .dropdown{
    margin-top: 20px;
  }
}

.checkbox_default{
  max-width: 225px;
  margin-bottom: 40px;
}


.checkbox-list_expandable{
  .checkbox + .checkbox{
    margin-top: 20px;
  }
}



