extends ../../components/base/base

include ../../components/header/header


block content
    section.container__background
        +header()
        +header({
            user: 'Юлий Цезарь'
        })