mixin radio(title, id)
    .radiobutton__item
        input(class='radiobutton__input' id=id type='radio' name='radio')
        label(for=id)=title

.radiobutton
    +item-title('radio buttons')
    .radiobutton__content
        +radio('Мужчина', 'man')
        +radio('Женщина', 'woman')