@import "../base/base";
@import '~jquery-ui/themes/base/datepicker.css';

.calendar{
  max-width: 320px;

  &__wrapper{
    position: absolute;
    background: #fff;
    z-index: 11;
    display: none;
    margin-top: 5px;
    padding: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
  }
}


.ui-datepicker{
  width: 100%;
  padding: 0;

  &-header{
    display: flex;
    justify-content: center;
    padding: 0;
  }

  & &-header{
    padding: 0;
  }

  & &-title{
    margin: 0;
    line-height: 24px;
    font-size: 19px;
    @extend %bold;
    margin-bottom: 30px;
  }

  & &-prev,
  & &-next{
    height: 24px;
    width: 24px;
    top: 0;

    &:after {
      position: absolute;
      font-family: 'icomoon';
      top: 0px;
      right: 0;
      font-size: 24px;
      content: "\e900";
      z-index: 1;
      background: $gradient-purple;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span{
      margin: 0;
    }
  }

  & &-prev{
    left: 0;
    &:after{
      left: 0px;
      transform: rotate(0.5turn) translate(0, 0);
    }
  }

  &-calendar{
    span{
      color: $purple;
    }

    tr{
      width: 40px;
      height: 40px;
    }
  }

  & th{
    width: 40px;
    height: 40px;
    padding: 0;
  }

  & td {
    padding: 0;
    span,
    a{
      padding: 0;
      line-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-today{
    position: relative;

    a{
      color: #fff;
      background: $gradient-green;
      font-weight: 700;
      border-radius: 20px;
    }
  }
}

.date-range {
  background: $gradient-purple-25;

  a{
    color: $dark-shade-50;
    background: transparent;
    font-weight: 400;
    border-radius: 0;
  }
}

.date-select {
  a{
    position: relative;
    background: $gradient-purple;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
  }

  &_left,
  &_right{
    position: relative;
    &:before{
      position: absolute;
      content: '';
      width: 50%;
      height: 100%;
      background: $gradient-purple-25;
    }
  }

  &_left{
    background: $gradient-purple-25;
    &:before{
      background: #fff;
    }
  }
}

.ui-state-default{
  color: $dark-shade-50;
}