
mixin calendar()

    .calendar

        .wrapper__column
            .column__dropdown
                +title({
                    title: 'прибытие'
                })
                +input({
                    id: 'input_to',
                    type: 'text',
                    placeholder: 'ДД.ММ.ГГГГ',
                    arrow: 'arrow_bottom'
                })
            .column__dropdown
                +title({
                    title: 'выезд'
                })
                +input({
                    id: 'input_from',
                    type: 'text',
                    placeholder: 'ДД.ММ.ГГГГ',
                    arrow: 'arrow_bottom'
                })
        .calendar__wrapper
            .datepicker



