mixin calendar()
    //.calendar__header
    //    .calendar__prev-month
    //        +button({
    //            arrow: 'arrow_left_purple'
    //        })
    //    .calendar__month
    //        h2 Август 2019
    //    .calendar__next-month
    //        +button({
    //            arrow: 'arrow_right_purple'
    //        })
    .calendar
        .calendar__wrapper
            input(type="text" id="input_to" size="10")
            input(type="text" id="input_from" size="10")
            .datepicker



