doctype html
html
    head
        title Project
    body
        .container
            section.inputs
                form
                    .text-field
                        label
                            h3 text field
                        input(type='text' placeholder='Email')
                    .dropdown
                        label
                            h3 dropdown
                        .dropdown__select
                            input(type='button' value='Сколько гостей')

                    mixin count(title)
                        .dropdown__option
                            h3= title
                            .dropdown__count
                                input(type='button' value='-' class='sign' data-action='minus')
                                h3(data-action='content') 0
                                input(type='button' value='+' class='sign' data-action='plus')
                    .dropdown
                        label
                            h3 dropdown
                        .dropdown__select
                            input(class='dropdown__button' type='button' value='Комнаты')
                            .dropdown__counter
                                +count('спальни')
                                +count('кровати')
                                +count('ванные комнаты')

                    .dropdown.item_size_s
                        label
                            h3 dropdown
                        .dropdown__select
                            input(style="text-overflow: ellipsis;" class='dropdown__button' type='button' value='Комнаты')
                            .dropdown__counter
                                +count('спальни')
                                +count('кровати')
                                +count('ванные комнаты')

                    .subscription
                        .text-field.item_size_s.subscription__text-field
                            label
                                h3 subscription text field
                            .subscription__input
                                input(type='text' placeholder='Email')
                    .date-column
                        .dropdown.item_size_xs
                            label
                                h3 date Dropdown
                            .dropdown__select
                                input(class='dropdown__button' type='button' value='ДД.ММ.ГГГГ')
                                .dropdown__counter

                        .dropdown.item_size_xs
                            label
                                h3 date Dropdown
                            .dropdown__select
                                input(class='dropdown__button' type='button' value='19.08.2019')
                                .dropdown__counter

                    .dropdown.filter-date__dropdown.item_size_s
                        label
                            h3 date Dropdown
                        .dropdown__select
                            input(class='dropdown__button' type='button' value='19.08.2019')
                            .dropdown__counter


                    mixin check(title, id)
                        .checkbox__item
                            input(class='checkbox__input' id= id type='checkbox')
                            label(for=id)= title
                    .checkbox.item_size_s
                        label
                            h3 checkbox buttons
                        .checkbox__content
                            +check('Можно курить', 'smoke')
                            +check('Можно с питомцами', 'pets')
                            +check('Можно пригласить гостей (до 10 человек)', 'guests')

