extends ../components/base/base
block content
    .container
        section
            form.form-elements
                .form-column
                    include ../components/item/item

                    include ../components/textField/textField_default

                    include ../components/textField/textField_hover

                    include ../components/dropdown/dropdown

                    include ../components/textField/textField_masked

                    .date-column__dropdown
                        include ../components/dropdown/dropdown_date

                    .filter-date__dropdown.item_size_s
                        include ../components/dropdown/dropdown_filter-date

                    .subscription__text-field.item_size_s
                        include ../components/textField/textField_subscription


                .form-column.item_size_s

                    include  ../components/checkbox/checkboxButton

                    include ../components/radiobutton/radioButton

                    include ../components/toggle/toggle

                    include ../components/likeButton/likeButton

                    include ../components/rateButton/rateButton

                .form-column

                    include ../components/rangeSlider/rangeSlider

                    include ../components/button/button


                            //.dropdown
                                            //    label.block-title
                                            //        h3 dropdown
                                            //    .dropdown__select
                                            //        input(class='dropdown__button' type='button' value='Комнаты')
                                            //        .dropdown__counter
                                            //            +count('спальни')
                                            //            +count('кровати')
                                            //            +count('ванные комнаты')

                                            //.dropdown.item_size_s
                                            //    label.block-title
                                            //        h3 dropdown
                                            //    .dropdown__select
                                            //        input(style="text-overflow: ellipsis;" class='dropdown__button' type='button' value='Комнаты')
                                            //        .dropdown__counter
                                            //            +count('спальни')
                                            //            +count('кровати')
                                            //            +count('ванные комнаты')



                                            //.dropdown
                                            //    .dropdown_column
                                            //        label
                                            //            h3 date Dropdown
                                            //        .dropdown__select
                                            //            input(class='dropdown__button' type='button' value='ДД.ММ.ГГГГ')
                                            //            .dropdown__counter
                                            //
                                            //    .dropdown_column
                                            //        label
                                            //            h3 date Dropdown
                                            //        .dropdown__select
                                            //            input(class='dropdown__button' type='button' value='19.08.2019')
                                            //            .dropdown__counter

                                            //.dropdown.filter-date__dropdown.item_size_s
                                            //    label
                                            //        h3 date Dropdown
                                            //    .dropdown__select
                                            //        input(class='dropdown__button' type='button' value='19.08.2019')
                                            //        .dropdown__counter