-
    locals.bulletListItems = [
        {
            value: 'Нельзя с питомцами'
        }, {
            value: 'Без вечеринок и мероприятий'
        }, {
            value: 'Время прибытия — после 13:00,  а выезд до 12:00'
        }
    ]