@import "fonts";
@import "colors";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}

%bold {
  color: $dark-shade;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 24px;
  @extend %bold;
}

h2 {
  font-size: 19px;
  @extend %bold;
}

h3 {
  font-size: 12px;
  @extend %bold;
}

.show {
  display: block !important;
}



