
//-
  options.title - заголовок элемента

mixin title(options)
    if !options
        - options = {}

    - if (options.title)
        .element-title
            label
                h3= options.title