include ../menu/menu
include ../button/button

//-
    options.user - имя пользователя

mixin header(options)

    if !options
        - options = {}



    header
        .container_horizontal.header
            .header__logo
                img(src=require('../../assets/images/Logo.png').default)

            .header__menu
                +menu({
                    items:[{
                        name: 'О нас',
                        href: '#',
                        select: true
                    }, {
                        name: 'Услуги',
                        href: 'javascript:void(0);',
                        dropdown: [{
                            name: 'услуга 1',
                            href: '#'
                        }, {
                            name: 'услуга 2',
                            href: '#'
                        }]
                    }, {
                        name: 'Вакансии',
                        href: '#'
                    }, {
                        name: 'Новости',
                        href: '#'
                    }, {
                        name: 'Соглашения',
                        href: 'javascript:void(0);',
                        dropdown: [{
                            name: 'соглашение 1',
                            href: '#'
                        }, {
                            name: 'соглашение 2',
                            href: '#'
                        }]
                    }]
                })
                - if (options.user)
                    .header__user
                        span= options.user
                - else
                    .header__enter
                        .header__buttons
                            +button({
                                href: './enter.html',
                                value: 'войти',
                                classes: 'border'
                            })
                            +button({
                                href: './registration.html',
                                value: 'зарегистрироваться',
                                classes: 'background'
                            })
