mixin checkRich(title, id, text, check)
    .checkbox__item
        input(class='checkbox__input' id=id type='checkbox' checked=check)
        label.checkbox__title(for=id)= title
        p.checkbox__text= text

.checkbox
    +item-title('rich checkbox buttons')
    .checkbox__content
        +checkRich('Широкий коридор', 'corridor', 'Ширина коридоров в номере           не менее 91 см.')
        +checkRich('Помощник для инвалидов', 'assistant', 'На 1 этаже вас встретит специалист  и проводит до номера.')
