.checkbox
    .checkbox-list__title
        input(class='checkbox-list__expandable item-input' type='button' value='expandable checkbox list')

.checkbox
    .checkbox-list__title.checkbox-list__title_show
        input(class='checkbox-list__expandable item-input' type='button' value='expandable checkbox list')
    .checkbox-list__content.show
        +check('Завтрак', 'breakfast')
        +check('Письменный стол', 'writingDesk', true)
        +check('Стул для кормления', 'feedingChair', true)
        +check('Кроватка', 'cot', true)
        +check('Телевизор', 'television')
        +check('Шампунь', 'shampoo')
