mixin range-slider()
    .range-slider
        .range-slider__title
            +item-title('range slider')
            input(type='text' class='range-slider__amount' readonly)
        .range-slider__item


+range-slider()