//-
  options.title - title

include ../../components/elementTitle/elementTitle

mixin range-slider(options)
    if !options
        - options = {}

    .range-slider
        .range-slider__title
            +title({
                title: options.title
            })
            input(type='text' class='range-slider__amount' readonly)
        .range-slider__scroll
