.toggle {
  @extend %input-item;
  margin-bottom: 40px;
}

.toggle__content {
  width: 100%;
  margin-top: 11px;
}

.toggle__item + .toggle__item {
  margin-top: 10px;
}

.toggle__item{
  position: relative;
  display: flex;
  height: 24px;

  label{
    vertical-align: top;
    line-height: 20px;
  }
}

.toggle__input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: block;
    position: relative;
    padding: 0 0 4px 50px;
    user-select: none;
    line-height: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 20px;
      border: 1px solid $dark-shade-25;
      border-radius: 13px;
      box-sizing: inherit;
      transition: .2s;
    }

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background: $dark-shade-25;
      transition: .2s;
    }
  }

  &:checked + label {
    &:before {
      border: 1px solid $purple;
    }

    &:after {
      left: 24px;
      background: $gradient-purple;
    }
  }
}


