mixin toggle(title, id)
    .toggle__item
        input(class='toggle__input' id= id type='checkbox')
        label(for=id)= title

.toggle
    +item-title('toggle')
    .toggle__content
        +toggle('Получать спецпредложения', 'offers')
        +toggle('Получать спецпредложения', 'offers-disable')
